.MySwiper{
    background: rgb(234,235,241);
    background: radial-gradient(circle, rgba(234,235,241,1) 0%, rgba(124,54,121,1) 100%);
  }
  .loader {
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }
  
  .error {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    color: red;
  }
  
  .stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
  }
  .stack-card {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    padding: 20px; /* Adjust padding as needed */
    width: 50%;
    display: flex;
    flex-direction: column;
    background:
      linear-gradient(to bottom left, transparent 49.5%, #fff 50%) 0 50px/100% 100px,
      linear-gradient(#fff, #fff) bottom/100% calc(100% - 150px),
      url(../../assets/logo.png) top/100% auto no-repeat;
    background-repeat: no-repeat;
  }
  
  .stack-card h2, .stack-card p {
    margin: 0; /* Remove default margin */
    padding: 5px; /* Adjust padding as needed */
  }
  
  .stack-info {
    margin-top: auto; /* Pushes the h2 and paragraph to the bottom */
  }
  
  .stack-card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
  }
  .stack-info{
    margin-top: 100px;
  }
  .stack-component {
    margin-top: 10px;
    font-size: 16px;
    list-style-type: disc;
    padding-left: 20px;
    color: #444;
  }
  .stack-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px; /* Adjust the maximum width as needed for larger cards */
    width: 100%; /* Make it full width */
    text-align: center; /* Center the content */
    height:300px;
  }
  .swiper-slide{
    width:22% !important;
  }
  .swiper-wrapper{
    margin-top: 8% !important;
  }